*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.bottone{
    background-color: blue;
    color: white;
    padding: 10px;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
  }
  ul{
    list-style-type: none;
  }
/* fine generali */
/* header */
.menu-destra{
    float: right;
    vertical-align: middle;
    line-height: 70px;
}
.menu-sinistra{
    float: left;
    vertical-align: middle;
    line-height: 70px;
}

header{
    width: 95%;
    height: 70px;
    margin: 0 auto;
    background-color: white;
}
.menu-destra a, .menu-sinistra a {
    padding: 10px;
    padding-bottom: 22px;
}
header a{
    color: black;
    text-decoration: none;
}
#logo{
    vertical-align: middle;
    padding: 10px;
}
/* da sistemare */
.menu-sinistra a:hover,.menu-destra a:hover {
    border-bottom: 2px solid black;
}
.bottone{
    background-color: blue;
    color: white;
    padding: 10px;
}
/* da sistemare */

/* fine header */
/* jumbotron */

.jumbo{
    width: 100%;
    height: 550px;
    background-color: lightseagreen;
}
h1{
    font-size: 40px;
    padding: 50px 0;
}
.contenitore{
    width: 80%;
    margin: 0 auto;
}
.prova-gratis{
    margin: 30px 0;
}
.colonna{
    width: 20%;
    margin: 0px 50px 0 0;
    float: left;
}
#coordinate{
    float: left;
    width: 750px;
    height: auto;
}
.freccia{
    font-size: 30px;
    margin-top: 20px;
}
/* fine jumbo  */
/* tabella di fatturazione */
#fatturazione{
    width: 60%;
    height: 500px;
    
    margin: 150px auto;
}
#titolo-fatturazione{
    margin-bottom: 20px;
}
.colonna-f{
    width: calc((100% / 3) - 50px);
    margin: 0px 50px 0 0;
    float: left;
    border: 1px solid grey;
}
.contenitore2{
    width: 100%;
    margin: 0 auto;
}
.padding{
    padding: 10px;
}
span{
    color: blue;
}